*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000;
  --color-grey-dark-1: #222;
  --color-grey-dark-2: #333;
  --color-grey-light-1: #777;
  --color-grey-light-2: #ddd;
  --color-white: #fff;

  --color-selection: #55c57a;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200px
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }
  @include respond(tab-port) {
    // width < 900px
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16
  }
}

body {
  @include respond(tab-port) {
    // width < 900px
    padding: 0;
  }
}

::selection {
  background-color: var(--color-selection);
  color: var(--color-white);
}
