*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000;

  --color-grey-dark-1: #222;
  --color-grey-dark-2: #333;

  --color-grey-light-1: #777;
  --color-grey-light-2: #929292;
  --color-grey-light-3: #ddd;
  --color-grey-light-4: #eaeaea;

  --color-white: #fff;

  --color-selection: #55c57a;
}

html {
  font-size: 62.5%;
}

body {
}

::selection {
  background-color: var(--color-selection);
  color: var(--color-white);
}

figcaption {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

del {
  color: var(--color-grey-light-2);
  font-size: 1.3rem;
  margin-right: 1rem;
}
