body {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-black);
}

.heading-primary {
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 400;
}

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700;
}

.sub-heading {
  font-size: 1.4rem;
  font-weight: 600;
}

.text-describe {
  font-size: 1.4rem;
  color: var(--color-grey-dark-2);
}
