body {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-black);
}

.heading-primary {
  font-size: 3.1rem;
  font-weight: 400;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 400;
}

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700;

  @media only screen and (max-width: $bp-middle) {
    font-size: 1.6rem;
  }
}

.sub-heading {
  font-size: 1.4rem;
  font-weight: 600;

  @media only screen and (max-width: $bp-middle) {
    font-size: 1.6rem;
  }
}

.text-describe {
  font-size: 1.4rem;
  color: var(--color-grey-dark-2);
  @media only screen and (max-width: $bp-middle) {
    font-size: 1.6rem;
  }
}
