.pad-bottom {
  padding-bottom: 2px;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}

.grid--2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hidden {
  display: none;
}

.copyright {
  align-self: flex-end;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1;
}

.error-boundary {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(228, 37, 37);
}

/***********************/

.mg-bt-small {
  margin-bottom: 1rem;
}

.mg-bt-medium {
  margin-bottom: 2rem;
}

.mg-bt-large {
  margin-bottom: 4rem;
}

.mg-bt-huge {
  margin-bottom: 10rem;
}

.mg-top-medium {
  margin-top: 2rem;
}

// Swiper react
.swiper {
  display: flex;
  flex-direction: column;

  .favorite__heading {
    order: -1;
  }
}

.swiper .product-item__img--hover {
  max-height: 88.5%;

  @media only screen and (min-width: $bp-largest) {
    max-height: 89.4%;
  }

  @media only screen and (max-width: $bp-large) {
    max-height: 84.5%;
  }
}

// React Toastify
.info-bar {
  font-size: 1.6rem;
}

.info-bar__login {
  line-height: 1.5;
  width: fit-content;
}
