.pad-bottom {
  padding-bottom: 2px;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}

.grid--2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hidden {
  display: none;
}

.copyright {
  align-self: flex-end;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1;
}

.error-boundary {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(228, 37, 37);
}

/***********************/

.mg-bt-small {
  margin-bottom: 1rem;
}

.mg-bt-medium {
  margin-bottom: 2rem;
}

.mg-bt-large {
  margin-bottom: 4rem;
}

.mg-bt-huge {
  margin-bottom: 10rem;
}

// TEST
.slick-track {
  display: flex !important;
  gap: 5rem;
}

.slick-slide {
  margin-left: -3rem;
}

.slick-slider {
  margin-bottom: 8rem;
}

// .slick-active {
//   margin-left: -1rem;
//   margin-right: 1.8rem;
// }

// React Toastify
.info-bar {
  font-size: 1.6rem;
}

.info-bar__login {
  line-height: 1.5;
  width: fit-content;
}
