.copyright {
  align-self: flex-end;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1;
}

.error-boundary {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(228, 37, 37);
  padding-top: 12rem;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none !important;
}

.loading-fallback {
  padding-top: 12rem;
}

.pages-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14rem 3rem;
  font-size: 1.8rem;
}
/***********************/

.mg-bt-small {
  margin-bottom: 1rem;
}

.mg-bt-medium {
  margin-bottom: 2rem;
}

.mg-bt-large {
  margin-bottom: 4rem;
}

.mg-bt-huge {
  margin-bottom: 10rem;
}

.mg-top-medium {
  margin-top: 2rem;
}

// Swiper react
.swiper {
  display: flex;
  flex-direction: column;

  .favorite__heading {
    order: -1;
  }
}

.swiper-wrapper {
  @media only screen and (max-width: $bp-ex-small) {
    position: relative;
  }
}

.swiper .product-item__img--hover {
  max-height: 88.5%;

  @media only screen and (min-width: $bp-largest) {
    max-height: 89.4%;
  }

  @media only screen and (max-width: 1120px) {
    max-height: 86%;
  }
  @media only screen and (max-width: $bp-large) {
    max-height: 84.5%;
  }

  @media only screen and (max-width: 900px) {
    max-height: 82.4%;
  }

  @media only screen and (max-width: $bp-medium) {
    max-height: 85%;
  }
  @media only screen and (max-width: $bp-middle) {
    max-height: 86%;
  }
  @media only screen and (max-width: $bp-small) {
    max-height: 93%;
  }

  @media only screen and (max-width: $bp-ex-small) {
    max-height: 87.5%;
  }
}

// React Toastify
.info-bar {
  font-size: 1.6rem;
}

.info-bar__login {
  line-height: 1.5;
  width: fit-content;
}
