.btn-default:link, .btn-default:visited, .btn-custom:link, .btn-custom:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--color-grey-dark-2);
  padding-bottom: 2px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-form::after, .btn-default::after, .btn-custom::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-grey-dark-2);
}

.btn-create, .btn-login:link, .btn-login:visited {
  padding: 1.4rem 6.5rem;
  background-color: var(--color-black);
  font-size: 1.3rem;
  color: var(--color-white);
}

/*
0 - 600px: Phone
600 - 900px: tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1000px + : Big desktop

breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-black: #000;
  --color-grey-dark-1: #222;
  --color-grey-dark-2: #333;
  --color-grey-light-1: #777;
  --color-grey-light-2: #929292;
  --color-grey-light-3: #ddd;
  --color-grey-light-4: #eaeaea;
  --color-white: #fff;
  --color-selection: #55c57a;
}

html {
  font-size: 62.5%;
}

::-moz-selection {
  background-color: var(--color-selection);
  color: var(--color-white);
}

::selection {
  background-color: var(--color-selection);
  color: var(--color-white);
}

figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

del {
  color: var(--color-grey-light-2);
  font-size: 1.3rem;
  margin-right: 1rem;
}

@-webkit-keyframes moveWave {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes moveWave {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

body {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-black);
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 400;
}

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700;
}

.sub-heading {
  font-size: 1.4rem;
  font-weight: 600;
}

.text-describe {
  font-size: 1.4rem;
  color: var(--color-grey-dark-2);
}

.pad-bottom {
  padding-bottom: 2px;
}

.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.grid--2-cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.hidden {
  display: none;
}

.copyright {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1;
}

/***********************/
.mg-bt-small {
  margin-bottom: 1rem;
}

.mg-bt-medium {
  margin-bottom: 2rem;
}

.mg-bt-large {
  margin-bottom: 4rem;
}

.mg-bt-huge {
  margin-bottom: 10rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 3rem 4rem;
  position: relative;
  color: var(--color-grey-dark-2);
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: 1rem;
  font-weight: 700;
}

.header p {
  font-size: 1.4rem;
  font-weight: 400;
  z-index: 3;
}

.header-modify .header__logo {
  color: var(--color-black);
}

.hero-section {
  height: 100vh;
  z-index: -99;
}

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 72vw;
}

.hero__content {
  padding: 3rem;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 27vw;
  font-size: 1.4rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.4rem;
  z-index: 1;
}

.hero__content p:nth-child(1) {
  font-weight: 600;
}

.hero__content .btn-default::after {
  background-color: var(--color-grey-light-2);
}

.hero__intro {
  font-weight: 300;
}

.product {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.8rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}

.product-modify {
  color: var(--color-grey);
}

.service {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.8rem;
  color: var(--color-grey);
  font-size: 1.4rem;
  font-weight: 400;
  z-index: 3;
}

.btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn-create {
  font-weight: 600;
}

.btn-nav {
  background-color: transparent;
}

.btn-form {
  padding-bottom: 2px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  font-weight: 500;
}

.btn-form::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-form:hover::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.btn-default::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-default:hover::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.btn-custom:link, .btn-custom:visited {
  padding-bottom: 3px;
}

.btn-custom::after {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-custom:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.btn-login:link, .btn-login:visited {
  text-decoration: none;
  font-weight: 500;
}

.btn-address {
  color: inherit;
  text-decoration: none;
}

.check {
  position: absolute;
  top: 10%;
  right: 0.8%;
  width: 35%;
  height: 29rem;
  background-color: var(--color-white);
  z-index: 2;
  padding: 2.8rem;
}

.check__intro {
  margin: 8rem 0 3rem 0;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--color-grey-light-2);
}

.check__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding: 3rem 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr (1fr)[4];
      grid-template-columns: 2fr repeat(4, 1fr);
  -ms-grid-rows: 20rem 10rem;
      grid-template-rows: 20rem 10rem;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
  row-gap: 4rem;
  font-size: 1.4rem;
  line-height: 1.75;
  color: var(--color-grey-dark-2);
}

.footer__heading {
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.footer__about p:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer ul {
  list-style: none;
}

.footer .btn-default {
  padding-bottom: 0;
}

.footer__form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.footer__form label {
  line-height: 1;
}

.footer__form input {
  border: none;
  font-family: inherit;
  border-bottom: 1px solid var(--color-grey-light-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer__form input:focus {
  outline: none;
}

.footer__image {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__image img:nth-child(1) {
  width: 40%;
}

.footer__img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  width: 50%;
}

.footer__extra {
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: -2rem;
}

.account {
  padding: 3rem 4rem;
  margin-top: 3rem;
}

.account-details {
  margin-left: 25vw;
}

.account-details h2 {
  margin-bottom: 2.5rem;
}

.account-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  padding: 3rem 4rem;
  left: 0;
  top: 0;
  margin-top: 12rem;
}

.account-register {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (10rem)[4];
      grid-template-rows: repeat(4, 10rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 1rem;
  font-size: 1.4rem;
}

.account-register label {
  display: block;
  margin-bottom: 1rem;
}

.account-register input {
  width: 100%;
  padding: 1.4rem;
  border: 1px solid var(--color-grey-light-4);
  font-family: inherit;
}

.account-register input:focus {
  outline: 1px solid var(--color-grey-light-2);
}

.account-register input[type="radio"] {
  width: initial;
  margin-right: 1rem;
}

.account-register input[type="radio"] ~ label {
  display: inline-block;
  margin-right: 4rem;
}

.account-register input[type="checkbox"] {
  width: initial;
  margin-right: 1rem;
}

.account-register input[type="checkbox"] + label {
  display: inline-block;
}

.account-register .btn-create {
  -ms-grid-column-align: end;
      justify-self: end;
}

.account-login {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (10rem)[3];
      grid-template-rows: repeat(3, 10rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  row-gap: 1rem;
  font-size: 1.4rem;
  margin-right: 10vw;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.account-login label {
  display: block;
  margin-bottom: 1rem;
}

.account-login input {
  width: 50%;
  padding: 1.4rem;
  border: 1px solid var(--color-grey-light-4);
  font-family: inherit;
}

.account-login input:focus {
  outline: 1px solid var(--color-grey-light-2);
}

.account-login div {
  grid-column: 1/-1;
}

.account-login .btn-create {
  -ms-grid-column-align: end;
      justify-self: end;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.story-section {
  height: 32rem;
  padding: 3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.story__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story__item div:first-child {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
}

.story__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.story__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-section {
  padding: 3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  margin-bottom: 8rem;
}

.about__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 88%;
  width: 100%;
  margin-bottom: 1rem;
}

.favorite-section {
  padding: 3rem 4rem;
}

.favorite__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.favorite__heading div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
}

.favorite__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  border: 1px solid var(--color-grey-light-4);
  border-radius: 50%;
  background-color: transparent;
}

.favorite__btn:hover {
  cursor: pointer;
}

.favorite__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  width: 100%;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4rem;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - 6rem) / 3);
          flex: 0 0 calc((100% - 6rem) / 3);
}

.product-item__img {
  height: 80%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-item span {
  position: absolute;
  top: 3%;
  left: 4%;
  color: var(--color-grey-light-1);
}

.product-hidden {
  display: none;
}

.pages-sale {
  padding: 3rem 4rem;
  text-align: center;
}

.pages-sale__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.pages-all {
  padding: 3rem 4rem;
  text-align: center;
}

.pages-all__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.pages-all > .sub-heading {
  text-align: left;
}
/*# sourceMappingURL=index.css.map */