.about {
  &-section {
    padding: 3rem 4rem;
    display: flex;
    gap: 3rem;
    margin-bottom: 8rem;

    @media only screen and (max-width: $bp-middle) {
      flex-direction: column;
      gap: 4rem;
    }

    @media only screen and (max-width: $bp-ex-small) {
      padding: 3rem 1.7rem;
    }

    // Revealing on scroll
    transition: all 0.8s;
  }

  &__img {
    object-fit: cover;
    height: 88%;
    width: 100%;
    margin-bottom: 1rem;
  }
  &__item {
    @media only screen and (min-width: $bp-largest) {
      flex: 1;
    }
  }
}
