.account {
  // padding: 3rem 4rem;
  padding: 12rem 4rem 3rem;
  margin-top: 3rem;
  //custom
  position: relative;

  &-details {
    margin-left: 25vw;

    h2 {
      margin-bottom: 2.5rem;
    }
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    padding: 3rem 4rem;
    left: 0;
    top: 0;
    margin-top: 12rem;

    @media only screen and (min-width: $bp-largest) {
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 9.5rem;
    }
  }

  &__options {
    list-style: none;
    line-height: 1.6;
  }

  &-register {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 10rem);
    align-items: center;
    column-gap: 3rem;
    row-gap: 1rem;
    font-size: 1.4rem;

    label {
      display: block;
      margin-bottom: 1rem;
    }

    input {
      width: 100%;
      padding: 1.4rem;
      border: 1px solid var(--color-grey-light-4);
      font-family: inherit;

      &:focus {
        outline: 1px solid var(--color-grey-light-2);
      }
    }

    input[type="radio"] {
      width: initial;
      margin-right: 1rem;

      & ~ label {
        display: inline-block;
        margin-right: 4rem;
      }
    }

    input[type="checkbox"] {
      width: initial;
      margin-right: 1rem;

      & + label {
        display: inline-block;
      }
    }

    .btn-create {
      justify-self: end;
    }
  }

  &-login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 10rem);
    align-items: center;
    column-gap: 4rem;
    row-gap: 1rem;
    font-size: 1.4rem;
    margin: 3vw 10vw 0 5vw;

    @media only screen and (max-width: $bp-large) {
      margin-left: 0;
    }

    label {
      display: block;
      margin-bottom: 1rem;
    }

    input {
      width: 50%;
      padding: 1.4rem;
      border: 1px solid var(--color-grey-light-4);
      font-family: inherit;

      @media only screen and (max-width: $bp-large) {
        width: 65%;
      }
    }

    input:focus {
      outline: 1px solid var(--color-grey-light-2);
    }

    div {
      grid-column: 1/-1;
    }

    .btn-create {
      justify-self: end;
    }
  }

  &-general {
    display: flex;
    gap: 5rem;
    line-height: 1.65;

    div {
      flex: 0 1 40%;
    }

    .btn-default {
      padding-bottom: 0;
    }
  }

  &-address {
    .sub-heading {
      padding-bottom: 1.6rem;
      margin-right: 8rem;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid var(--color-grey-light-4);
    }
  }
}
