.pages-all {
  // padding: 3rem 4rem;
  padding: 13rem 4rem 3rem;
  text-align: center;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: 3rem;

    &-custom {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      column-gap: 3rem;
    }
  }

  & > .sub-heading {
    text-align: left;
  }
}
