.btn {
  border: none;
  font-family: inherit;
  cursor: pointer;

  // TREN NAY LA BUTTON
  &-create {
    @extend %btn-special;
    font-weight: 600;
  }

  &-nav {
    background-color: transparent;
  }

  // button duoi form footer
  &-form {
    padding-bottom: 2px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    font-weight: 500;

    &::after {
      @extend %link-hover-pseudo;
      transform: translateX(0);
      transition: all 0.3s;
    }

    &:hover::after {
      transform: translateX(100%);
    }
  }

  // BEN DUOI LA <a></a> ANCHOR
  // <a></a> Chua hove da co line
  &-default {
    &:link,
    &:visited {
      @extend %link-hover;
    }

    &::after {
      @extend %link-hover-pseudo;
      transform: translateX(0);
      transition: all 0.3s;
    }

    &:hover::after {
      transform: translateX(100%);
    }
  }
  // <a></a> Hover thi line moi ra
  &-custom {
    &:link,
    &:visited {
      @extend %link-hover;
      padding-bottom: 3px;
    }

    &::after {
      @extend %link-hover-pseudo;
      transform: translateX(-100%);
      transition: all 0.5s;
    }

    &:hover::after {
      transform: translateX(0);
    }
  }
  // <a></a>

  &-login {
    &:link,
    &:visited {
      text-decoration: none;
      @extend %btn-special;
      font-weight: 500;
    }
  }

  &-address {
    color: inherit;
    text-decoration: none;
  }
}
