.btn {
  border: none;
  font-family: inherit;
  cursor: pointer;

  // BUTTON
  &-create {
    @extend %btn-special;
    font-weight: 600;

    @media only screen and (max-width: $bp-middle) {
      font-size: 1.6rem;
    }
  }

  &-create:disabled {
    cursor: initial;
    color: var(--color-grey-light-1);
  }

  &-remove {
    background-color: transparent;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    @media only screen and (max-width: $bp-middle) {
      font-size: 1.4rem;
      color: var(--color-grey-dark-1);
    }
  }

  &-remove::after {
    @extend %link-hover-pseudo;
    @include hoverEffect(left, 1);
    transition: transform 0.3s linear;
  }

  &-remove:hover::after {
    @include hoverEffect(right, 0);
  }

  &-nav {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    padding-bottom: 2px;
    @media only screen and (max-width: $bp-medium) {
      font-size: 1.4rem;
    }
  }

  &-nav::after {
    @extend %link-hover-pseudo;
    @include hoverEffect(right, 0);
    transition: transform 0.3s linear;
  }

  &-nav:hover::after {
    @include hoverEffect(left, 1);
  }

  &-buy:disabled {
    cursor: initial;
    color: var(--color-grey-light-1);
  }

  &-buy__done {
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-light-4);
    color: var(--color-grey-dark-1);
  }

  // Button of footer form
  &-form {
    padding-bottom: 2px;
    background-color: transparent;
    position: relative;
    font-weight: 500;

    &::after {
      @extend %link-hover-pseudo;
      @include hoverEffect(left, 1);
      transition: transform 0.3s linear;
    }

    &:hover::after {
      @include hoverEffect(right, 0);
    }
  }

  // <a></a> ANCHOR
  // Have underline before hover
  &-default {
    &:link,
    &:visited {
      @extend %link-hover;
    }

    &::after {
      @extend %link-hover-pseudo;
      @include hoverEffect(left, 1);
      transition: transform 0.3s linear;
    }

    &:hover::after {
      @include hoverEffect(right, 0);
    }
  }
  // Initial state not have underline
  &-custom {
    &:link,
    &:visited {
      @extend %link-hover;
      overflow: visible;
      padding-bottom: 0;
      margin-bottom: 0.5rem;
    }

    &::after {
      @extend %link-hover-pseudo;
      @include hoverEffect(right, 0);
      transition: transform 0.3s linear;
    }

    &:hover::after {
      @include hoverEffect(left, 1);
    }
  }

  &-custom__modify {
    &:link,
    &:visited {
      padding-bottom: 2px;
    }
  }
  // <a></a>

  &-login {
    &:link,
    &:visited {
      @extend %btn-special;
      text-decoration: none;
      font-weight: 500;
    }
  }

  &-address {
    color: inherit;
    text-decoration: none;
  }
}
