.cart {
  &__drop {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: auto;
    background-color: var(--color-white);
    z-index: 2;
    padding: 10rem 3rem 3rem;
    display: flex;
    flex-direction: column;

    button {
      margin-top: 2rem;
      align-self: flex-end;
    }

    @media only screen and (max-width: $bp-large) {
      width: 45%;
      padding-top: 6rem;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 50%;
    }

    @media only screen and (max-width: $bp-middle) {
      max-height: 98vh;
      width: 100%;
    }
  }

  &__summary {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 3rem 4rem;
    width: 40%;

    @media only screen and (max-width: $bp-large) {
      z-index: 10;
      width: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 60%;
    }

    @media only screen and (max-width: $bp-middle) {
      width: 90%;
    }

    @media only screen and (max-width: $bp-ex-small) {
      .cart__show {
        max-height: 60vh;
      }
    }
  }

  &__orders {
    max-height: 40vh;
    overflow: auto;

    label {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.3rem;
      color: var(--color-black);

      @media only screen and (max-width: $bp-middle) {
        font-size: 1.6rem;
      }
    }

    input {
      width: 100%;
      padding: 1.4rem;
      border: 1px solid var(--color-grey-light-4);
      font-family: inherit;
      margin-bottom: 1rem;
    }
    input:focus {
      outline: 1px solid var(--color-grey-light-2);
    }
  }

  &__btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin: 0;
      font-size: 1.3rem;

      @media only screen and (max-width: $bp-middle) {
        font-size: 1.6rem;
      }
    }
  }

  &__show {
    max-height: 58vh;
    overflow-y: auto;
    @media only screen and (max-width: $bp-ex-small) {
      max-height: 80vh;
    }
  }

  &__show-modify {
    max-height: 16vh;
  }

  &__item {
    width: 100%;
    display: flex;
    gap: 3.5rem;
    align-items: flex-start;
    padding: 2rem 0;
    font-size: 1.3rem;
    color: var(--color-grey-dark-2);

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-grey-light-4);
    }

    @media only screen and (max-width: $bp-middle) {
      font-size: 1.6rem;
      color: var(--color-grey-dark-1);
    }
  }

  &__item-img {
    width: 6.5rem;
    height: 7.5rem;
    object-fit: cover;
  }

  &__item-info {
    margin-right: auto;
  }

  &__item-general {
    margin-bottom: 0.6rem;
  }

  &__item-price {
    text-align: right;
    display: flex;
    flex-direction: column;

    del {
      margin: 0;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-top: 1px solid var(--color-grey-light-4);
    border-bottom: 1px solid var(--color-grey-light-4);
    font-size: 1.3rem;

    @media only screen and (max-width: $bp-middle) {
      font-size: 1.6rem;
      color: var(--color-grey-dark-1);
    }
  }
}
