.product {
  &-details {
    padding: 10rem 6rem 3rem 4rem;

    .favorite-section {
      padding: 0;
    }

    @media only screen and (max-width: $bp-large) {
      padding: 0 0 4rem;
      .favorite-section {
        padding: 0 4rem;
      }
    }

    @media only screen and (max-width: $bp-ex-small) {
      .favorite-section {
        padding: 0 1.7rem;
      }
    }
  }

  &-inner {
    display: flex;
    gap: 6rem;
    margin-bottom: 10rem;
    padding-top: 3rem;

    @media only screen and (max-width: $bp-large) {
      padding-top: 0;
      flex-direction: column;
    }
    @media only screen and (max-width: $bp-ex-small) {
      margin-bottom: 6rem;
    }
  }

  &-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 0.8rem;
    // custom
    flex: 0 0 calc(200% / 3);
  }

  &-buy {
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;

    @media only screen and (max-width: $bp-large) {
      padding: 0 4rem;
      flex-direction: row;
      gap: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      flex-wrap: wrap;
    }

    @media only screen and (max-width: $bp-ex-small) {
      padding: 0 1.7rem;
    }
  }

  &-buy__intro {
    @media only screen and (max-width: $bp-large) {
      flex-basis: 50%;
    }
    @media only screen and (max-width: $bp-small) {
      flex: 1 1 100%;
    }
  }

  &-buy__select {
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: $bp-large) {
      flex-basis: 50%;
    }
    @media only screen and (max-width: $bp-small) {
      flex: 1 1 100%;
    }
  }

  &-buy__offer {
    list-style: none;
    margin-left: 1.8rem;
  }

  &-buy__offer li {
    position: relative;
    line-height: 1.6;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
      line-height: 1.4;
    }
  }

  &-buy__offer li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-130%);
    height: 1.6rem;
    width: 1.6rem;
    background-image: url(../../assets/img/svg/iconmonstr-check-mark-17_small.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-buy__guide {
    align-self: center;
  }

  &-select {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;

    select {
      display: block;
      padding: 1rem;
      border: 1px solid var(--color-grey-light-4);
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 500;
    }

    select:focus {
      outline: none;
    }

    option {
      font-weight: 300;
      color: var(--color-grey-dark-1);
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: row;
      gap: 1rem;

      & > * {
        flex: 1 1 50%;
      }
    }

    @media only screen and (max-width: $bp-ex-small) {
      flex-direction: column;
    }
  }

  &-info {
    display: flex;
    gap: 10rem;
    font-size: 1.4rem;
    color: var(--color-grey-dark-2);
    margin-bottom: 10rem;

    @media only screen and (max-width: $bp-large) {
      padding: 0 4rem;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }

    @media only screen and (max-width: $bp-ex-small) {
      padding: 0 1.7rem;
      gap: 4rem;
    }
  }

  &-info__heading {
    margin-bottom: 4rem;
    @media only screen and (max-width: $bp-ex-small) {
      margin-bottom: 2rem;
    }
  }

  &-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__description {
    line-height: 1.6;
  }

  &__description-list {
    margin-left: 1.8rem;
    list-style: square;
    line-height: 1.75;
  }

  &__information {
    line-height: 1.6;
    span {
      margin-right: 0.55rem;
    }

    & .btn-default {
      line-height: 1.4;
      margin-bottom: -0.65rem;
    }

    & div:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &-error > * {
    padding-top: 12rem;
  }
}
