.product {
  &-details {
    padding: 10rem 6rem 3rem 4rem;
    & .favorite-section {
      padding: 0;
    }
  }
  &-inner {
    display: flex;
    gap: 6rem;
    margin-bottom: 10rem;
    // custom
    padding-top: 3rem;
  }

  &-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 0.8rem;
    // custom
    flex: 0 0 calc(200% / 3);
  }

  &-buy {
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;

    &__offer {
      list-style: none;
      margin-left: 1.8rem;

      li {
        position: relative;
        line-height: 1.4;
      }

      li:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &-buy__offer li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-130%);
    height: 1.6rem;
    width: 1.6rem;
    background-image: url(../../assets/img/svg/iconmonstr-check-mark-17_small.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-buy__guide {
    align-self: center;
  }

  &-select {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;

    select {
      display: block;
      padding: 1rem;
      border: 1px solid var(--color-grey-light-4);
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 500;
    }

    select:focus {
      outline: none;
    }

    option {
      font-weight: 300;
      color: var(--color-grey-dark-1);
    }
  }

  &-info {
    display: flex;
    gap: 10rem;
    font-size: 1.4rem;
    color: var(--color-grey-dark-2);
    margin-bottom: 10rem;
  }

  &-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__description {
    line-height: 1.6;
  }

  &__description-list {
    margin-left: 1.8rem;
    list-style: square;
    line-height: 1.75;
  }

  &__information {
    line-height: 1.6;
    span {
      margin-right: 0.55rem;
    }

    & .btn-default {
      line-height: 1.4;
      margin-bottom: -0.65rem;
    }

    & div:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
