.favorite {
  &-section {
    padding: 3rem 4rem;
    overflow: hidden;

    @media only screen and (max-width: $bp-ex-small) {
      padding: 2rem 1.7rem;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__heading-btn {
    display: flex;
    gap: 0.8rem;

    @media only screen and (max-width: $bp-ex-small) {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      z-index: 10;
      justify-content: space-between;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid var(--color-grey-light-4);
    border-radius: 50%;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }

    @media only screen and (max-width: $bp-ex-small) {
      background-color: rgba($color: #ffffff, $alpha: 0.7);
    }
  }

  &__content {
    display: flex;
    gap: 3rem;
    width: 100%;
  }
}
