.header {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: baseline;
  padding: 3rem 4rem;
  position: relative;
  &__nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    text-decoration: none;
    color: #fff;
    font-size: 2.4rem;
    letter-spacing: 1rem;
    font-weight: 700;
  }
  p {
    font-size: 1.4rem;
    font-weight: 400;
  }

  &-modify &__logo {
    color: var(--color-black);
  }
}
