.header {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: baseline;
  color: var(--color-grey-dark-2);
  max-width: 150rem;
  transition: background-color 0.2s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  z-index: 999;
  padding: 1rem 3rem 1.4rem;
  margin: 1rem 1rem 1.6rem;
  border: 1px solid transparent;

  @media only screen and (min-width: $bp-largest) {
    margin: 1rem auto 1.6rem !important;
  }

  @media only screen and (max-width: $bp-large) {
    padding: 0.6rem 2rem 1.4rem;
  }

  // sticky navigation
  &__sticky {
    padding: 1rem 3rem 1.4rem;
    margin: 1rem 1rem 1.6rem !important;
    background-color: rgba($color: #ffffff, $alpha: 0.85);
    border: 1px solid var(--color-grey-light-3);

    @media only screen and (min-width: $bp-largest) {
      margin: 1rem auto 1.6rem !important;
    }

    @media only screen and (max-width: $bp-large) {
      padding: 0.6rem 2rem 1.4rem;
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__logo {
    text-decoration: none;
    color: var(--color-black);
    font-size: 2.4rem;
    letter-spacing: 1rem;
    font-weight: 700;
  }

  // custom for homepage
  &-modify &__logo {
    color: var(--color-white);
  }
  &-modify .btn-custom__modify {
    &::after {
      background-color: var(--color-white);
    }
    color: var(--color-white);
  }

  &-modify .product__link {
    color: var(--color-white);
  }
  ///////////////
  /// custom for sticky nav
  &__sticky &__logo {
    color: var(--color-black);
  }

  &__sticky .btn-custom__modify {
    &::after {
      background-color: var(--color-black);
    }
    color: var(--color-black);
  }

  &__sticky .product__link {
    color: var(--color-black);
  }
  //////////////////////

  &__cart {
    flex-basis: 1%;
    position: relative;
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer;
    span {
      position: relative;
      z-index: 5;
    }
    @media only screen and (max-width: $bp-medium) {
      color: var(--color-black);
    }
  }

  &__cart::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 53%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-black);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    @media only screen and (max-width: $bp-medium) {
      background-color: var(--color-white);
    }
  }

  ////////////////////////
  /// Header navigation for media queries
  &__navigation-icon {
  }
}
