.hero {
  &-section {
    height: 100vh;
    z-index: -99;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
    height: 100vh;
    width: 72vw;
  }

  &__content {
    padding: 3rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 27vw;
    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;
    z-index: 1;

    p:nth-child(1) {
      font-weight: 600;
    }

    .btn-default::after {
      background-color: var(--color-grey-light-2);
    }
  }
  &__intro {
    font-weight: 300;
  }
}
