.product {
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 2.8rem;
  color: var(--color-grey);
  font-size: 1.4rem;
  font-weight: 400;
}

.service {
  list-style: none;
  display: flex;
  gap: 2.8rem;
  color: var(--color-grey);
  font-size: 1.4rem;
  font-weight: 400;
  z-index: 3;

  @media only screen and (max-width: $bp-large) {
    color: var(--color-white);

    .btn-nav {
      color: var(--color-white);
    }
  }
}
