.product {
  list-style: none;
  display: flex;
  gap: 2.8rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  &-modify {
    color: var(--color-black);
  }
}

.service {
  list-style: none;
  display: flex;
  gap: 2.8rem;
  color: var(--color-grey);
  font-size: 1.4rem;
  font-weight: 400;
}
