.pages-sale {
  padding: 3rem 4rem;
  text-align: center;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: 3rem;
    text-align: left;
  }
}
